<footer class="custom-footer py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <h5 class="fw-bold">Shop</h5>
        <p>Everything You Love in One Place.</p>
      </div>
      <div class="col-md-3 mb-3">
        <h6 class="fw-semibold">Quick Links</h6>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3">
     
       
      </div>
    </div>
  </div>
</footer>